// main: style.less
/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';
@body-bg:               #fff;
@text-color:            #000;
@link-color:           #ff0000;
@navbar-default-bg:    rgba(17, 17, 17, .5);
@navbar-default-link-color:                #d8ca4b;
